@media (min-width: 768px ) and (max-width: 1100px ) {
    html {
        font-size: 12px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

.bg-image-container {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-image-login {
    background-image: url(../images/girl_with_glasses.jpg);
    background-position: bottom;
}

.bg-striped {
    height: 100vh;
    background: rgb(64,59,161);
    background: linear-gradient(
        110deg, 
        rgba(64,59,161,1) 0%, 
        rgba(64,59,161,1) 50%, 
        rgba(254,203,81,1) 50%,
        rgba(254,203,81,1) 52%, 
        rgba(64,59,161,1) 52%, 
        rgba(64,59,161,1) 54%,
        rgba(254,203,81,1) 54%, 
        rgba(254,203,81,1) 80%,
        rgba(64,59,161,1) 80%
    );
}

.block-white {
    background-color: #FFFFFF;
    border-radius: .55rem;
}

.login-container {
    position: relative;
    width: 100%;
    max-width: 35rem;
}

.login-block {
    padding: 2rem 1.5rem;
    box-shadow: 1.2rem 1.2rem 1rem rgba(0,0,0,0.2);
}

.login-title-block {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-120%);
}

.login-title {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
}

.title-clickable {
    cursor: pointer;
}

.title-clickable:hover {
    opacity: .8;
}

.title-clickable:not(:first-of-type) {
    margin-left: 1rem;
}

.title-clickable:not(.active) {
    color: #7976BD;
} 

.input-label {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.btn-login {
    font-size: .9rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #403BA1;
}

.with-icon {
    position: relative;
}

.with-icon input {
    padding-right: 2rem;
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.btn:hover, .input-icon:hover {
    opacity: .8;
}

.clear-icon {
    background-image: url(../images/close_input_transparent.svg);
}

.show-icon {
    background-image: url(../images/show_input_transparent.svg);
}

.login-text {
    font-size: 0.8rem;
    font-weight: 500;
    color: #6E6D79;;
}

.text-link:hover {
    opacity: .8;
}