:root {
    --white: #FFFFFF;
    --black: #000000;

    --color-btn-primary: #403BA1;
    --color-btn-gray:#F0F4F8;
    --color-bg-gray: #F1F4F6;

    --table-border-radius: .5rem;
  }

@media (min-width: 768px ) and (max-width: 1100px ) {
    html {
        font-size: 12px;
    }
}

body {    
    font-family: 'Montserrat', sans-serif;
}

body:not(.no-navbar) {
    margin-top: 4rem;
    position: relative;
    padding-bottom: 18rem;
    min-height: 100vh;
}

body.only-footer {
    position: relative;
    padding-bottom: 18rem;
    min-height: 100vh;
}

.container {
    max-width: 80%;
}

a:not(.link-underlined), a:not(.link-underlined):hover {
    text-decoration: none;
    color: unset;
}

.btn:hover {
    opacity: .85;
    border: 1px solid rgba(0,0,0,.15);
}

.bg-image-container {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-image-login {
    background-image: url(../images/girl_with_glasses.jpg);
    background-position: bottom;
}

.bg-striped {
    height: 100vh;
    background: rgb(64,59,161);
    background: linear-gradient(
        110deg, 
        rgba(64,59,161,1) 0%, 
        rgba(64,59,161,1) 50%, 
        rgba(254,203,81,1) 50%,
        rgba(254,203,81,1) 52%, 
        rgba(64,59,161,1) 52%, 
        rgba(64,59,161,1) 54%,
        rgba(254,203,81,1) 54%, 
        rgba(254,203,81,1) 80%,
        rgba(64,59,161,1) 80%
    );
}

.block-white {
    background-color: var(--white);
    border-radius: .55rem;
}

.login-container {
    position: relative;
    width: 100%;
    max-width: 35rem;
}

.login-block {
    padding: 2rem 1.5rem;
    box-shadow: 1.2rem 1.2rem 1rem rgba(0,0,0,0.2);
}

.login-title-block {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-120%);
}

.login-title {
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
}

.title-clickable {
    cursor: pointer;
}

.title-clickable:hover {
    opacity: .8;
}

.title-clickable:not(:first-of-type) {
    margin-left: 1rem;
}

.title-clickable:not(.active) {
    color: #7976BD;
} 

.input-label {
    margin-bottom: .2rem;
    font-size: .8rem;
    font-weight: 600;
}

.btn-login {
    font-size: .9rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--color-btn-primary);
}

.with-icon, .with-icon-left {
    position: relative;
}

.with-icon input {
    padding-right: 2rem;
}

.with-icon-left input {
    padding-left: 2.2rem;
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.btn:hover, .input-icon:hover {
    opacity: .8;
}

.btn:disabled {
    opacity: .4;
}

.clear-icon {
    background-image: url(../images/close_input_transparent.svg);
}

.show-icon {
    background-image: url(../images/show_input_transparent.svg);
}

.search-icon {
    left: .5rem;
    background-image: url(../images/icon_search_gray.png);
}

.login-text {
    font-size: .8rem;
    font-weight: 500;
    color: #6E6D79;
}

.text-link:hover {
    opacity: .8;
}

input.checkbox-custom {
    position: relative;
    margin-right: .3rem;
}

input.checkbox-custom:checked:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-btn-primary);
    border-radius: 1rem;
}

.link-underlined {
    margin-bottom: 0;
    color: var(--color-btn-primary);
    font-weight: 700;
    text-decoration: underline;
}

.login-inner-title {
    font-size: 1.3rem;
    font-weight: 700;
}

.otp-exp-time {
    max-width: fit-content;
    margin: .3rem auto .9rem;
    padding: .5rem 1.1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #0DA0A6;
    border-radius: 3rem;
    background-color: #F0F7FA;
}



/* navbar */
.logo {
    width: 4.5rem;
}

/* input.btn, a.btn, input.form-control, select.form-control {
    height: 2.8rem;
} */

select.select-custom, select.select-custom:focus {
    width: fit-content;
    padding: .5rem 2rem;
    height: 2.8rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--color-btn-primary);
    /* background-image: none !important; */
    border-radius: .5rem;
}

select.select-custom option {
    color: var(--black);
    background-color: var(--white);
}

/* select.select-custom option:hover {
    color: red !important;
    background-color: var(--white);
} */

.select-custom:after, .select-custom:before {
    content: '';
    display: none;
    position: absolute;
}

.avatar {
    border-radius: 50%;
    width: 2.2rem;
}

.phone-label {
    display: block;
    margin-bottom: .2rem;
    font-size: .8rem;
    font-weight: 500;
    color: #8C8CA2;
}

.phone-text {
    font-weight: 700;
}

.search-field {
    position: relative;
    height: 2.8rem;
    background-color: #F0F4F8;
    border-radius: .5rem;
}

.search-field:after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-image: url(../images/icon_search_gray.png);
}

.button-icon {
    margin-right: .3rem;
}

.button-icon-end {
    margin-left: .3rem;
}

.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: .45rem;
}

a.btn {    
    line-height: 1.9rem;
}

.button-add {
    height: 2.8rem;
    font-weight: 600;
    white-space: nowrap;
    background-color: #F0F4F8;
}

.button-add-gray {
    justify-content: center;
    height: 2.8rem;
    font-weight: 600;
    color: #FFFFFF;
    white-space: nowrap;
    background-color: #0DA0A6;
}

.button-circle-light {
    background-color: #F0F7FA;
    border-radius: 100%;
}

.number-badge {
    position: absolute;
    display: block;
    width: fit-content;
    height: auto;
    padding: 0 .2rem;
    top: .4rem;
    right: .6rem;
    font-size: .6rem;
    font-weight: 600;
    color: var(--white);
    background-color: #ED4B9E;
    border-radius: 50%;
}

.section-profile {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.profile-sidebar {
    max-width: 20rem;
    padding: 1.5rem;
    border-radius: .7rem;
    background-color: var(--color-bg-gray);
}

.sidebar-avatar {
    border-radius: 50%;
    width: 4rem;
}

.sidebar-block {
    padding: 1rem;
}

.sidebar-block:first-of-type {
    border-bottom: 1px solid #DDE0E2;
}

.sidebar-label {
    margin: .4rem 0;
    font-size: 1.1rem;
    font-weight: 700;
}

.sidebar-text {
    font-size: .8rem;
    font-weight: 500;
    color: #6E6D79;
}

.button-sidebar {
    margin-bottom: .6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: unset !important;
    min-height: 2.8rem;
    text-align: left;
    font-weight: 600;
    width: 100%;
}

.button-sidebar.active {
    color: var(--white);
    background-color: var(--color-btn-primary);
}

.button-edit-icon.active:after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 1rem;
    background-image: url(../images/icon_edit.svg);
    background-size: contain;
}

.button-main {
    height: 2.8rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--color-btn-primary);
}

input[type="text"], input[type="number"], input[type="password"], .btn {
    height: 2.8rem;
}

.profile-tab-label {
    font-size: 1.6rem;
    font-weight: 700;
}

.button-main {
    padding: 0 1.3rem;
    height: 2.8rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--color-btn-primary);
}

.button-red {
    padding: 0 1.3rem;
    height: 2.8rem;
    font-weight: 500;
    color: var(--white);
    background-color: #ED4B9E;
}

.avatar-edit {
    border-radius: 50%;
    width: 5rem;
}

.table-custom {
    font-size: .9rem;
}

.table-text {
    font-weight: 500;
    line-height: 2.4rem;
}

.table-text-cont span {
    font-weight: 600;
}

.table-text-cont p {
    margin: 0;
    font-weight: 500;
}

.table-course-type {
    display: block;
    margin-top: 0.3rem;
    font-size: .7rem;
    color: var(--color-btn-primary)
}

.table-custom thead th  {
    border-color: transparent;
    background-color: #F1F4F6;
}

/* .table-round thead th:first-child  {
   border-top-left-radius: 1rem;
}

.table-round thead th:last-child  {
    border-top-right-radius: 1rem;
} */

.table-custom td {
    position: relative;
    vertical-align: revert;
}

.table-custom tbody tr:hover td, .table-custom tbody tr.selected td {
    background-color: #F0F7FA;
    border-color: transparent;
}

.table-custom tbody tr:hover + tr > td, .table-custom tbody tr.selected + tr > td {
    border-color: transparent;
}

.table-custom tbody tr:hover td:first-child, .table-custom tbody tr.selected td:first-child {
    border-top-left-radius: var(--table-border-radius);
    border-bottom-left-radius: var(--table-border-radius);
}

.table-custom tbody tr:hover td:last-child, .table-custom tbody tr.selected td:last-child {
    border-top-right-radius: var(--table-border-radius);
    border-bottom-right-radius: var(--table-border-radius);
}

.more-button {
    padding: .2rem;
    text-align: center;
    cursor: pointer;
}

.more-button img {
    width: 0.25rem;
    object-fit: cover;
    vertical-align: middle;
}

.sub-menu .card {
    width: fit-content;
    border-radius: var(--table-border-radius);
}

.sub-menu .card .menu-list-item {
    border-radius: 0rem !important;
}

.sub-menu .list-group *:first-child .list-group-item {
    border-top-left-radius: var(--table-border-radius) !important;
    border-top-right-radius: var(--table-border-radius) !important;
}

.sub-menu .list-group *:last-child .list-group-item {
    border-bottom-right-radius: var(--table-border-radius) !important;
    border-bottom-left-radius: var(--table-border-radius) !important;
}

.sub-menu {
    position: absolute;
    top: 60%;
    right: 75%;
    z-index: 10;
}

.menu-list-item {
    padding: .9rem 1.7rem;
    font-size: .9rem;
    font-weight: 600;
    white-space: nowrap;
    border: transparent;
}

.menu-list-item.item-warning {
    color: #DE5F4F;
}

.menu-list-item:hover {
    color: var(--white);
    background-color: var(--color-btn-primary);
}

.menu-list-item img {
    width: 1.1rem;
    margin-bottom: .15rem;
    margin-right: .7rem;
}

.menu-list-item:hover img {
    filter: contrast(2) invert(100%);
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-top: 2.5rem;
    background-color: #252437;
    color: var(--white);
    font-size: .8rem;
    font-weight: 600;
}

.footer-list {
    /* display: block; */
    width: fit-content;
    list-style: none;
}

.footer-list li {
    margin-bottom: .5rem;
}

.footer-list-text-gray {
    color: #D7D7D7;
    font-weight: 500;
}

.footer-section {
    border-bottom: 1px solid #5B5B69;
}

.button-social {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.button-social img {
    width: 100%;
}

.table-report tbody {
    color: #6E6D79;
}

.table-report tbody tr:hover {
    color: #252437;
}

.report-container {
    margin: 0 -1rem;
    padding: .75rem;
    background-color: var(--color-bg-gray);
    border-radius: var(--table-border-radius);
}

.report-block {
    display: flex;
    line-height: 1.2rem;
}

.report-block img {
    margin-right: .75rem;
}

.report-title {
    font-size: 0.8rem;
    font-weight: 500;
}

.report-value {
    font-size: .8rem;
    font-weight: 800;
}

.section-profile-edit {
    padding-bottom: 5rem;
}

.horizontal-card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .7rem;
    padding: 1rem;
    width: 100%;
    background-color: var(--color-bg-gray);
    border-radius: var(--table-border-radius);
}

.index-num-round {
    position: relative;
    display: block;
    margin-right: .7rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    font-size: .8rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.9rem;
    color: white;
    background-color: #0DA0A6;
}

.index-num-round.hidden:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
    background-color: #0DA0A6;
    background-image: url(../images/icon_hide.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 55% 55%;
}

.h-img-container {
    position: relative;
    margin-right: .5rem;
}

.h-img-container:hover {
    opacity: .8;
}

.h-img-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(179.69deg, rgba(0, 0, 0, 0) -21.8%, rgba(0, 0, 0, 0.5) 104.59%);
    border-radius: .6rem;
    z-index: 5;
}

.h-img-container::after {
    content: '';
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    background-image: url(../images/icon_play_circle_filled.svg);
    background-size: 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 500;
}

.h-card-img {
    position: relative;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: .6rem;
}

.h-card-label {
    font-size: .9rem;
    font-weight: 600;
}

.h-card-text {
    font-size: .8rem;
    color: #6E6D79;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-move {
    cursor: move;
}

.menu-drag img {
    width: 1.2rem;
}

.more-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 3rem;
}

.page-title {
    position: relative;
    color: #252437;
    font-size: 1.8rem;
    font-weight: 700;
}

.page-title.title-clickable {
    cursor: pointer;
}

.page-title:not(:first-of-type) {
    margin-left: 1rem;
}

.page-title.title-clickable:not(.active) {
    opacity: .3;
} 

.page-title.title-clickable:hover {
    opacity: .8;
}

.page-title:not(:last-of-type):after {
    content: '•';
    position: relative;
    margin-left: 1.2rem;
    width: .5rem;
    height: .5rem;
    cursor: default;
}

.page-title.title-clickable:not(:last-of-type):hover:after {
    opacity: .3;
}

.page-title-dot-dark {
    background-image: url(../images/dot_gray.svg);
}

.radio-button, .filter-button {
    margin-top: .15rem;
    margin-right: .5rem;
    padding: .4rem 1rem;
    font-weight: 500;
    border-radius: 2rem;
    background-color: #E6EAEE;
    cursor: pointer;
}

.radio-button.active, .filter-button.active {
    color: white;
    background-color: var(--color-btn-primary);
}

.radio-button:hover, .filter-button:hover {
    opacity: .8;
}

.horizontal-card.edit-on-hover {
    padding-right: 2rem;
}

.horizontal-card.edit-on-hover:hover {
    color: white;
    background-color: #0DA0A6;
}

.horizontal-card.edit-on-hover:after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 1rem;
    background-image: url(../images/icon_edit.svg);
    background-size: contain;
}

.modal-content {
    border: none;
    border-radius: 0.5rem;
}

.modal-header, .modal-footer {
    border: none;
}

.modal-title {
    margin-top: .4rem;
}

.inline-input {
    display: flex;
    align-items: center;
}

.inline-input input[type="checkbox"] {
    margin-left: .5rem;
    width: 1rem;
    height: 1rem;
}

.permanent-placeholder-left {
    position: relative;
    padding-left: 1.6rem;
    font-weight: 500;
}

.placeholder-left {
    position: absolute;
    margin-top: .2rem;
    margin-left: .4rem;
    color: #8C8CA2;
}

.modal-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .7rem;
    padding: .5rem;
    width: 100%;
}

.modal-row:not(:last-of-type) {
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.button-circle {
    width: 2.2rem;
    height: 2.2rem;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-btn-gray);
}

.button-circle.active {
    background-color: var(--color-btn-primary);
}

.button-circle.active img {
    filter: contrast(2) invert(100%);
}

.with-icon select.form-control {
    position: relative;
    padding-right: 2.5rem !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

.down-icon {
    background-image: url(../images/icon_down_toggle.svg);
}

.section-label {
    font-size: 2rem;
    font-weight: 700;
}

.category-card {
    position: relative;
    margin: auto;
    width: 98%;
    padding-top: 55%;
    border-radius: .7rem;
    background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
}

.category-text {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.category-card:not(.no-dark) .category-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(101, 100, 113, .5);
    /* background-blend-mode: multiply; */
    border-radius: .7rem;
}

.bg-gradient-primary {
    background: radial-gradient(78.52% 133.76% at 98.61% 0%, rgba(238, 237, 255, 0.2048) 0%, rgba(255, 255, 255, 0) 100%), #403BA1;
    background-blend-mode: screen, normal;
}

.slider-dot {
    display: inline-block;    
    background-repeat: no-repeat;
    background-size: 100%;
}

.slider-dot-1 {
    width: .9rem;
    height: .9rem;
    background-image: url(../images/slider_dot_1.svg);
}

.slick-active > .slider-dot-1 {
    width: .9rem;
    height: .9rem;
    background-image: url(../images/slider_dot_1_current.svg);
}

.slider-dot-2 {
    width: .5rem;
    height: .5rem;
    margin-bottom: .115rem;
    background-image: url(../images/slider_dot_2.svg);
}

.slick-active > .slider-dot-2 {
    width: .7rem;
    height: .7rem;
    background-image: url(../images/slider_dot_2_current.svg);
}


/* For mobile devices */
@media (max-width: 768px) {

    .btn-burger {
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        padding: 0.5rem;
        background-color: #F2F2F2;
        border-radius: 0.4rem;
        border: none;
        z-index: 200;
    }

    .burger {
        font-size: 0.45rem;
    }
    
    .category-text {
        font-size: 2rem;
    }
}