:root {

    --color-main: #403BA1;
    --color-btn-gray:#F0F4F8;
    --color-bg-gray: #F1F4F6;

    --table-border-radius: .5rem;

    --custom-transition: all .3s ease;
  }

@media (min-width: 768px ) and (max-width: 1100px ) {
    html {
        font-size: 12px;
    }
}

body {    
    font-family: 'Montserrat', sans-serif;
}

body:not(.no-navbar) {
    margin-top: 4rem;
    position: relative;
    padding-bottom: 18rem;
    min-height: 100vh;
}

body.only-footer {
    position: relative;
    padding-bottom: 18rem;
    min-height: 100vh;
}

.container {
    max-width: 80%;
}

.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section .slick-dots {
    bottom: -3.5rem;
}

a:not(.link-underlined), a:not(.link-underlined):hover {
    /* text-decoration: none; */
    /* color: unset; */
}

.btn:hover {
    opacity: .85;
    border: 1px solid rgba(0,0,0,.15);
}

.bg-image-container {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-image-login {
    background-image: url(../images/girl_with_glasses.jpg);
    background-position: bottom;
}

.bg-striped {
    height: 100vh;
    background: rgb(64,59,161);
    background: linear-gradient(
        110deg, 
        rgba(64,59,161,1) 0%, 
        rgba(64,59,161,1) 50%, 
        rgba(254,203,81,1) 50%,
        rgba(254,203,81,1) 52%, 
        rgba(64,59,161,1) 52%, 
        rgba(64,59,161,1) 54%,
        rgba(254,203,81,1) 54%, 
        rgba(254,203,81,1) 80%,
        rgba(64,59,161,1) 80%
    );
}

.block-white {
    background-color: #FFFFFF;
    border-radius: .55rem;
}

.login-container {
    position: relative;
    width: 100%;
    max-width: 35rem;
}

.login-block {
    padding: 2rem 1.5rem;
    box-shadow: 1.2rem 1.2rem 1rem rgba(0,0,0,0.2);
}

.login-title-block {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-120%);
}

.login-title {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
}

.title-clickable {
    color: white !important;
    cursor: pointer;
}

.title-clickable:hover {
    opacity: .8;
}

.title-clickable:not(:first-of-type) {
    margin-left: 1rem;
}

.title-clickable:not(.active) {
    color: #7976BD !important;
} 

.input-label {
    margin-bottom: .2rem;
    font-size: .8rem;
    font-weight: 600;
}

.btn-login {
    font-size: .9rem;
    font-weight: 500;
    color: #FFFFFF;
    background-color: var(--color-main);
}

.with-icon, .with-icon-left {
    position: relative;
}

.with-icon input {
    padding-right: 2rem;
}

.with-icon-left input {
    padding-left: 2.2rem;
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.btn:hover, .input-icon:hover {
    opacity: .8;
}

.btn:disabled {
    opacity: .4;
}

.clear-icon {
    background-image: url(../images/close_input_transparent.svg);
}

.show-icon {
    background-image: url(../images/show_input_transparent.svg);
}

.show-icon.clicked {
    background-image: url(../images/icon_hide_color.svg);
    top: 57%;
    right: 0.45rem;
    width: 1.4rem;
    height: 1.4rem;
}

.search-icon {
    left: .5rem;
    background-image: url(../images/icon_search_gray.png);
}

.login-text {
    font-size: .8rem;
    font-weight: 500;
    color: #6E6D79;
}

.text-link:hover {
    opacity: .8;
}

input.checkbox-custom {
    position: relative;
    margin-right: .3rem;
}

input.checkbox-custom:checked:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-main);
    border-radius: 1rem;
}

.link-underlined {
    margin-bottom: 0;
    color: var(--color-main);
    font-weight: 700;
    text-decoration: underline;
}

.login-inner-title {
    font-size: 1.3rem;
    font-weight: 700;
}

.otp-exp-time {
    max-width: fit-content;
    margin: .3rem auto .9rem;
    padding: .5rem 1.1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #0DA0A6;
    border-radius: 3rem;
    background-color: #F0F7FA;
}



/* navbar */
.logo {
    width: 4.5rem;
}

/* input.btn, a.btn, input.form-control, select.form-control {
    height: 2.8rem;
} */

.header-block {
    display: flex;
}

select.select-custom, select.select-custom:focus {
    width: fit-content;
    padding: .5rem 2rem;
    height: 2.8rem;
    font-weight: 500;
    color: #FFFFFF;
    background-color: var(--color-main);
    /* background-image: none !important; */
    border-radius: .5rem;
}

select.select-custom option {
    color: #000000;
    background-color: #FFFFFF;
}

/* select.select-custom option:hover {
    color: red !important;
    background-color: #FFFFFF;
} */

.select-custom:after, .select-custom:before {
    content: '';
    display: none;
    position: absolute;
}

.avatar {
    border-radius: 50%;
    width: 2.2rem;
}

.phone-label {
    display: block;
    margin-bottom: .2rem;
    font-size: .8rem;
    font-weight: 500;
    color: #8C8CA2;
}

.phone-text {
    font-weight: 700;
}

.search-field {
    position: relative;
    height: 2.8rem;
    background-color: #F0F4F8;
    border-radius: .5rem;
}

.search-field:after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-image: url(../images/icon_search_gray.png);
}

.button-icon {
    margin-right: .3rem;
}

.button-icon-end {
    margin-left: .3rem;
}

.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: .45rem;
}

a.btn {    
    line-height: 1.9rem;
}

.btn-bordered {
    font-weight: 600;
    box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.25);
}

.button-add {
    height: 2.8rem;
    font-weight: 600;
    white-space: nowrap;
    background-color: #F0F4F8;
}

.button-add-gray {
    justify-content: center;
    height: 2.8rem;
    font-weight: 600;
    color: #FFFFFF;
    white-space: nowrap;
    background-color: #0DA0A6;
}

.button-circle-light {
    background-color: #F0F7FA;
    border-radius: 100%;
}

.number-badge {
    position: absolute;
    display: block;
    width: fit-content;
    height: auto;
    padding: 0 .2rem;
    top: .4rem;
    right: .6rem;
    font-size: .6rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #ED4B9E;
    border-radius: 50%;
}

.section-profile {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.profile-sidebar {
    max-width: 20rem;
    padding: 1.5rem;
    border-radius: .7rem;
    background-color: var(--color-bg-gray);
}

.sidebar-avatar {
    border-radius: 50%;
    width: 4rem;
}

.sidebar-block {
    padding: 1rem;
}

.sidebar-block:first-of-type {
    border-bottom: 1px solid #DDE0E2;
}

.sidebar-label {
    margin: .4rem 0;
    font-size: 1.1rem;
    font-weight: 700;
}

.sidebar-text {
    font-size: .8rem;
    font-weight: 500;
    color: #6E6D79;
}

.button-sidebar {
    margin-bottom: .6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: unset !important;
    min-height: 2.8rem;
    justify-content: left;
    text-align: left;
    font-weight: 600;
    width: 100%;
}

.button-sidebar.active {
    color: #FFFFFF;
    background-color: var(--color-main);
}

.button-edit-icon.active:after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 1rem;
    background-image: url(../images/icon_edit.svg);
    background-size: contain;
}

.button-main {
    height: 2.8rem;
    font-weight: 500;
    color: #FFFFFF;
    background-color: var(--color-main);
}

input[type="text"], input[type="number"], input[type="password"], .btn {
    height: 2.8rem;
}

.profile-tab-label {
    font-size: 1.6rem;
    font-weight: 700;
}

.button-main {
    padding: 0 1.3rem;
    height: 2.8rem;
    font-weight: 500;
    color: #FFFFFF;
    background-color: var(--color-main);
}

.button-red {
    padding: 0 1.3rem;
    height: 2.8rem;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #ED4B9E;
}

.avatar-edit {
    border-radius: 50%;
    width: 5rem;
}

.table-custom {
    font-size: .9rem;
}

.table-text {
    font-weight: 500;
    line-height: 2.4rem;
}

.table-text-cont span {
    font-weight: 600;
}

.table-text-cont p {
    margin: 0;
    font-weight: 500;
}

.table-course-type {
    display: block;
    margin-top: 0.3rem;
    font-size: .7rem;
    color: var(--color-main)
}

.table-custom thead th  {
    border-color: transparent;
    background-color: #F1F4F6;
}

/* .table-round thead th:first-child  {
   border-top-left-radius: 1rem;
}

.table-round thead th:last-child  {
    border-top-right-radius: 1rem;
} */

.table-custom td {
    position: relative;
    vertical-align: revert;
}

.table-custom tbody tr:hover td, .table-custom tbody tr.selected td {
    background-color: #F0F7FA;
    border-color: transparent;
}

.table-custom tbody tr:hover + tr > td, .table-custom tbody tr.selected + tr > td {
    border-color: transparent;
}

.table-custom tbody tr:hover td:first-child, .table-custom tbody tr.selected td:first-child {
    border-top-left-radius: var(--table-border-radius);
    border-bottom-left-radius: var(--table-border-radius);
}

.table-custom tbody tr:hover td:last-child, .table-custom tbody tr.selected td:last-child {
    border-top-right-radius: var(--table-border-radius);
    border-bottom-right-radius: var(--table-border-radius);
}

.more-button {
    padding: .2rem;
    text-align: center;
    cursor: pointer;
}

.more-button img {
    width: 0.25rem;
    object-fit: cover;
    vertical-align: middle;
}

.sub-menu .card {
    width: fit-content;
    border-radius: var(--table-border-radius);
}

.sub-menu .card .menu-list-item {
    border-radius: 0rem !important;
}

.sub-menu .list-group *:first-child .list-group-item {
    border-top-left-radius: var(--table-border-radius) !important;
    border-top-right-radius: var(--table-border-radius) !important;
}

.sub-menu .list-group *:last-child .list-group-item {
    border-bottom-right-radius: var(--table-border-radius) !important;
    border-bottom-left-radius: var(--table-border-radius) !important;
}

.sub-menu {
    position: absolute;
    top: 60%;
    right: 75%;
    z-index: 10;
}

.menu-list-item {
    padding: .9rem 1.7rem;
    font-size: .9rem;
    font-weight: 600;
    white-space: nowrap;
    border: transparent;
}

.menu-list-item.item-warning {
    color: #DE5F4F;
}

.menu-list-item:hover {
    color: #FFFFFF;
    background-color: var(--color-main);
}

.menu-list-item img {
    width: 1.1rem;
    margin-bottom: .15rem;
    margin-right: .7rem;
}

.menu-list-item:hover img {
    filter: contrast(2) invert(100%);
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-top: 2.5rem;
    background-color: #252437;
    color: #FFFFFF;
    font-size: .8rem;
    font-weight: 600;
}

.footer-list {
    /* display: block; */
    width: fit-content;
    list-style: none;
}

.footer-list li {
    margin-bottom: .5rem;
}

.footer-list-text-gray {
    color: #D7D7D7;
    font-weight: 500;
}

.footer-section {
    border-bottom: 1px solid #5B5B69;
}

.button-social {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.button-social img {
    width: 100%;
}

.table-report tbody {
    color: #6E6D79;
}

.table-report tbody tr:hover {
    color: #252437;
}

.report-container {
    margin: 0 -1rem;
    padding: .75rem;
    background-color: var(--color-bg-gray);
    border-radius: var(--table-border-radius);
}

.report-block {
    display: flex;
    line-height: 1.2rem;
}

.report-block img {
    margin-right: .75rem;
}

.report-title {
    font-size: 0.8rem;
    font-weight: 500;
}

.report-value {
    font-size: .8rem;
    font-weight: 800;
}

.section-profile-edit {
    padding-bottom: 5rem;
}

.horizontal-card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .7rem;
    padding: 1rem;
    width: 100%;
    background-color: var(--color-bg-gray);
    border-radius: var(--table-border-radius);
}

.index-num-round {
    position: relative;
    display: block;
    margin-right: .7rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    font-size: .8rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.9rem;
    color: white;
    background-color: #0DA0A6;
}

.index-num-round.hidden:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
    background-color: #0DA0A6;
    background-image: url(../images/icon_hide.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 55% 55%;
}

.h-img-container {
    position: relative;
    margin-right: .5rem;
}

.h-img-container:hover {
    opacity: .8;
}

.h-img-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(179.69deg, rgba(0, 0, 0, 0) -21.8%, rgba(0, 0, 0, 0.5) 104.59%);
    border-radius: .6rem;
    z-index: 5;
}

.h-img-container::after {
    content: '';
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    background-image: url(../images/icon_play_circle_filled.svg);
    background-size: 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 500;
}

.h-card-img {
    position: relative;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: .6rem;
}

.h-card-label {
    font-size: .9rem;
    font-weight: 600;
}

.h-card-text {
    font-size: .8rem;
    color: #6E6D79;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-move {
    cursor: move;
}

.menu-drag img {
    width: 1.2rem;
}

.more-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 3rem;
}

.page-title {
    position: relative;
    color: #252437;
    font-size: 1.8rem;
    font-weight: 700;
}

.page-title.title-clickable {
    cursor: pointer;
}

.page-title:not(:first-of-type) {
    margin-left: 1rem;
}

.page-title.title-clickable:not(.active) {
    opacity: .3;
} 

.page-title.title-clickable:hover {
    opacity: .8;
}

.page-title:not(:last-of-type):after {
    content: '•';
    position: relative;
    margin-left: 1.2rem;
    width: .5rem;
    height: .5rem;
    cursor: default;
}

.page-title.title-clickable:not(:last-of-type):hover:after {
    opacity: .3;
}

.page-title-dot-dark {
    background-image: url(../images/dot_gray.svg);
}

.radio-button, .filter-button {
    margin-top: .15rem;
    margin-right: .5rem;
    padding: .4rem 1rem;
    font-weight: 500;
    border-radius: 2rem;
    background-color: #E6EAEE;
    cursor: pointer;
}

.radio-button.active, .filter-button.active {
    color: white;
    background-color: var(--color-main);
}

.radio-button:hover, .filter-button:hover {
    opacity: .8;
}

.horizontal-card.edit-on-hover {
    padding-right: 2rem;
}

.horizontal-card.edit-on-hover:hover {
    color: white;
    background-color: #0DA0A6;
}

.horizontal-card.edit-on-hover:after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 1rem;
    background-image: url(../images/icon_edit.svg);
    background-size: contain;
}

.modal-content {
    border: none;
    border-radius: 0.5rem;
}

.modal-header, .modal-footer {
    border: none;
}

.modal-title {
    margin-top: .4rem;
}

.inline-input {
    display: flex;
    align-items: center;
}

.inline-input input[type="checkbox"] {
    margin-left: .5rem;
    width: 1rem;
    height: 1rem;
}

.permanent-placeholder-left {
    position: relative;
    padding-left: 1.6rem;
    font-weight: 500;
}

.placeholder-left {
    position: absolute;
    margin-top: .2rem;
    margin-left: .4rem;
    color: #8C8CA2;
}

.modal-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .7rem;
    padding: .5rem;
    width: 100%;
}

.modal-row:not(:last-of-type) {
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.button-circle {
    width: 2.2rem;
    height: 2.2rem;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-btn-gray);
}

.button-circle.active {
    background-color: var(--color-main);
}

.button-circle.active img {
    filter: contrast(2) invert(100%);
}

.with-icon select.form-control {
    position: relative;
    padding-right: 2.5rem !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

.down-icon {
    background-image: url(../images/icon_down_toggle.svg);
}

.slide-main {
    position: relative;
    height: 70vh;
    background-color: #F0F7FA;
}

.slide-main-wrapper {
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #a5acb0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.slider-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.slider-text {
    font-size: 1rem;
    font-weight: 400;
    color: #6A6888;
}

.main-slider-dots {
    position: absolute;
    width: 100%;
    bottom: 4rem;
}

.main-slider-dots .slick-dots {
    text-align: left;
}

.section-label {
    font-size: 2rem;
    font-weight: 700;
}

.section-text {
    font-size: 1rem;
    font-weight: 400;
    color: #3B4950;
}

.category-card {
    position: relative;
    margin: auto;
    width: 98%;
    padding-top: 55%;
    border-radius: .7rem;
    background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
    transition:  var(--custom-transition);
}

.category-card:hover {
    opacity: .8;
}

.category-text {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.category-card:not(.no-dark) .category-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(101, 100, 113, .5);
    /* background-blend-mode: multiply; */
    border-radius: .7rem;
}

.bg-gradient-primary {
    background: radial-gradient(78.52% 133.76% at 98.61% 0%, rgba(238, 237, 255, 0.2048) 0%, rgba(255, 255, 255, 0) 100%), #403BA1;
    background-blend-mode: screen, normal;
}

.slider-dot {
    display: inline-block;    
    background-repeat: no-repeat;
    background-size: 100%;
}

.slider-dot-1 {
    width: .9rem;
    height: .9rem;
    background-image: url(../images/slider_dot_1.svg);
}

.slick-active > .slider-dot-1 {
    width: .9rem;
    height: .9rem;
    background-image: url(../images/slider_dot_1_current.svg);
}

.slider-dot-2 {
    margin-bottom: .1rem;
    width: .5rem;
    height: .5rem;
    background-image: url(../images/slider_dot_2.svg);
}

.slick-active > .slider-dot-2 {
    margin: 0;
    width: .7rem;
    height: .7rem;
    background-image: url(../images/slider_dot_2_current.svg);
}

.custom-card {
    margin-bottom: 2rem;
    padding: 1.7rem;
    color: #252437;
    background-color: #F1F4F6;
    border-radius: .7rem;
    transition:  var(--custom-transition);
}

.custom-card:hover {
    color: #FFFFFF;
    background: radial-gradient(78.52% 133.76% at 98.61% 0%, rgba(238, 237, 255, 0.2048) 0%, rgba(255, 255, 255, 0) 100%), #403BA1;
    background-blend-mode: screen, normal;
}

.custom-card-tag {
    padding: .25rem .5rem;
    font-size: .6rem;
    font-weight: 500;
    color: white;
    border-radius: 0.2rem;
    transition:  var(--custom-transition);
}

.custom-card:hover .custom-card-tag {
    filter: contrast(2.5) invert(100%);
}

.custom-card-label {
    margin: .6rem 0;
    font-size: 1rem;
    font-weight: 600;
}

.custom-card-text {
    margin-bottom: .3rem;
    font-size: .7rem;
    font-weight: 400;
}

.custom-card-info {
    font-size: .65rem;
    font-weight: 500;
    color: #989898;
    transition:  var(--custom-transition);
}

.custom-card-info:not(:last-of-type):after {
    content: '•';
    margin: 0 0.4rem;
    font-size: 1rem;
    font-weight: 700;
    color: #989898;
    transition:  var(--custom-transition);
}

.custom-card:hover .custom-card-info, .custom-card:hover .custom-card-info:after {
    color: #FFFFFF;
}

.custom-card-avatar {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
}

.custom-card-name {
    margin-left: .7rem;
    font-size: .9rem;
    font-weight: 600;
}

.button-custom-card {
    padding: 0.2rem 1.2rem;
    height: unset;
    font-size: .9rem;
    font-weight: 500;
    background-color: rgba(159, 159, 159, 0.2);
}

.custom-card:hover .button-custom-card {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.2);
}

.custom-card-price {
    font-size: 1rem;
    font-weight: 600;
}

.custom-card-type {
    font-size: 1rem;
    font-weight: 400;
}

.custom-card-type:before {
    content: '/';
    font-size: 1rem;
    font-weight: 600;
}

.button-show-more {
    font-size: .7rem;
    font-weight: 600;
    color: var(--color-main);
    border: 1px solid var(--color-main);
}

.button-show-more:hover {
    color: var(--color-main);
}

#section-values {
    background-color: #F1F4F6;
}

.values-card {
    margin: 0 .6rem;
    padding: 1.7rem;
    background-color: white;
    border-radius: .5rem;
}

.values-card-text {
    margin-bottom: .3rem;
    font-size: .7rem;
    font-weight: 400;
}

.review-card {
    margin: 0 .7rem;
    padding: 1.7rem;
    max-width: 25rem;
    color: #252437;
    background-color: #F1F4F6;
    border-radius: .7rem;
}

.quote-left {
    margin-bottom: 1rem;
    width: 2rem;
    height: 2rem;
}

.review-card-text {
    margin-bottom: .3rem;
    font-size: .7rem;
    font-weight: 500;
}

.fw-500 {
    font-weight: 500;
}

.review-card-subtext {
    margin-left: .7rem;
    font-size: .65rem;
    font-weight: 500;
    color: #ACACAC;
}

.button-slider {
    padding: 0;
}

.button-slider:focus {
    box-shadow: none;
}

.button-gray {
    font-weight: 600;
    white-space: nowrap;
    color: var(--color-main) !important;
    background-color: #F0F4F8;
}

.button-white {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: fit-content;
    font-size: .9rem;
    font-weight: 600;
    color: var(--color-main) !important;
    border-radius: .45rem;
    box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.25);
}

.button-white.active {
    color: white !important;
    background-color: var(--color-main);
}

.filter-label {
    padding-bottom: .5rem;
    font-weight: 600;
    border-bottom: 1px solid #E1E9F0;
}

.filter-text {
    margin-left: .5rem;
    font-size: .9rem;
    font-weight: 600;
}

.custom-card-cont .custom-card {
    max-width: 30rem;
    margin-right: auto;
}

.video-container { 
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    border-radius: .7rem;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.h-line {
    position: relative;
}

.h-line:after {
    content: '';
    position: absolute;
    top: 0.3rem;
    right: -7rem;
    width: 0.12rem;
    height: 2rem;
    background-image: url(../images/horizontal_line_slim.svg);
}

.progressbar-container {
    position: relative;
    width: 100%;
    height: .4rem;
    background-color: rgba(110,109,121,.24);
}

.progressbar {
    height: 100%;
    border-radius: .7rem;
    background-color:var(--color-main);
}

.progressbar-text {
    position: absolute;
    bottom: .5rem;
    right: 0;
    font-size: .8rem;
    font-weight: 600;
    color: var(--color-main);
}

.video-sidebar-block {
    padding: 1.2rem;
    background-color: #F0F4F8;
    border-radius: .7rem;
}

.video-sidebar-block.scroll {
    max-height: 15.5rem;
    overflow-y: scroll;

}

.video-sidebar-block.scroll::-webkit-scrollbar {
    width: .5rem;
}

.video-sidebar-block.scroll::-webkit-scrollbar-track {
    background-color: #6E6D79;
    background-color: rgba(110,109,121,.24);
    /* width: .5rem; */
}

.video-sidebar-block.scroll::-webkit-scrollbar-thumb {
    background-color:var(--color-main);
    border-radius: .5rem;
  }

.video-sidebar-label {
    font-size: 1rem;
    font-weight: 700;
}

.video-sidebar-text {
    position: relative;
    margin-left: 1.2rem;
    margin-bottom: 1rem;
    font-size: .8rem;
    font-weight: 500;
}

.video-sidebar-text:before {
    content: '';
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    left: -1.4rem;
    bottom: .1rem;
    background-image: url(../images/icon_play_circle_filled_gray.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.video-sidebar-text.locked:before {
    background-image: url(../images/icon_lock_dark.svg);
    background-size: contain;
}

.video-info-block {
    display: flex;
    background-color: var(--color-btn-gray);
    border-radius: .7rem;
}

.tabs {
    padding: 1rem 1.7rem;
    font-size: .85rem;
    font-weight: 700;
}

.tabs.active {
    color: var(--color-main);
    border-bottom: 2.5px solid var(--color-main);
}

.button-custom-3 {
    padding: 0.2rem 1.2rem;
    height: unset;
    font-size: .9rem;
    font-weight: 500;
    background-color: rgba(159, 159, 159, 0.2);
}

.profile-cont {
    padding: 1rem;
    border-radius: .7rem;
}

.profile-cont:hover {
    background-color: #F1F4F6;
}

.profile-cont:hover .button-custom-card {
    color: white;
    background-color: var(--color-main);
}

.text-custom-4 {
    font-size: 1.1rem;
    font-weight: 600;
}

a.btn {
    line-height: 1.9rem;
}
a:not(.link-underlined), a:not(.link-underlined):hover {
    text-decoration: none;
    color: unset;
}
.button-yellow {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-weight: 600;
    white-space: nowrap;
    /* color: var(--color-main) !important; */
    background-color:#FECB51;
}

.block-uderlined {
    border-bottom: 1px solid #DBDBDB;
}

.order-modal-label {
    font-size: 1.1rem;
    font-weight: 700;
}

.order-modal-text {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--color-main);
}

.order-modal-image {
    width: 9rem;
}

.custom-card-text {
    font-size: .8rem;
    font-weight: 500;
}

.avatar-4 {
    width: 3.5rem;
    height: 3.5rem;
}

.comment {
    padding-bottom: .6rem;
    border-bottom: 1px solid #E3E3E3;
}

.exam-block {
    padding: 1.8rem;
    padding-bottom: 5rem;
    background-color: #F0F4F8;
    border-radius: .7rem;
}

.down-icon-2 {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../images/icon_down_toggle_color.svg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 60%;
    right: 75%;
    z-index: 10;
}

.test-block {
    border-radius: .6rem;

}

.test-container {
    margin-bottom: 1rem;
    padding: 1.8rem 1.2rem;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: .8rem;
}

.test-text {
    margin-bottom: .7rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: .8rem;
}

.test-text-modal {
    margin-bottom: .7rem;
    padding: 1rem;
    border-radius: .3rem;
}

.test-text-modal label {
    margin-left: .4rem;
}

.test-text label {
    margin-left: .4rem;
}

.dropdown-toggle:focus {
    box-shadow: none;
}

.result {
    padding: .5rem 1rem;
    text-align: left;
    border-radius: .7rem;
    width: 15rem;
}

.result-text {
    font-size: .8rem;
    font-weight: 400;
    color: white;
    margin-bottom: .1rem;
}

.result-value {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.select-100:after {
    position: absolute;
    right: 1rem;
}

.dropdown .btn {
    border-radius: .25rem;
    box-shadow: none !important;
    border: 1px solid #ced4da !important;
}

.dropdown .btn.show {
    border: 1px solid #ced4da !important;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.img-about {
    width: 100%;
    height: 27rem;
    object-fit: cover;
}

.about-title {
    font-size: 1.1rem;
    font-weight: 600;
}

.about-text {
    margin: 1.3rem 0;
    font-size: 1rem;
    font-weight: 500;
    color: #303030;
}

.bank-card-block {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 43rem;
    height: 25rem;
    background: rgb(45,119,245);
    background: linear-gradient(105deg, rgba(45,119,245,1) 0%, rgba(45,119,245,1) 30%, rgba(255,255,255,1) 30%);
}

.btn-login-blue {
    width: 100%;
    height: 2.5rem;
    background-color: #2D77F5;
    font-size: .9rem;
    font-weight: 700;
    color: #FFFFFF;
}

.card-section {
    background-color: #EEF1F4;
}

.card-title {
    margin-top: 1.2rem;
    font-size: 1.7rem;
    font-weight: 700;
}

select.select-custom-form:focus, select.select-custom-form {
    width: 100%;
    color: black;
    background-color: white;
    border-radius: .25rem;
}

.down-icon-dark {
    right: 0.8rem;
    width: 0.7rem;
    height: 0.5rem;
    background-size: contain;
    background-image: url(../images/icon_down_toggle_color.svg);
}

.dropdown-main .dropdown-toggle {
    padding-right: 2rem;
}

.dropdown-main .dropdown-toggle:after {
    content: '';
    position: absolute;
    margin: 0;
    width: 1.2rem;
    height: 1.2rem;
    bottom: 50%;
    transform: translateY(50%);
    right: .5rem;
    border: none;
    background-image: url(../images/icon_down_white.svg);
    background-size: contain;
}

.dropdown-main.show .dropdown-toggle:after {
    content: '';
    position: absolute;
    margin: 0;
    width: 1.2rem;
    height: 1.2rem;
    bottom: 50%;
    transform: translateY(50%);
    right: .5rem;
    border: none;
    background-image: url(../images/icon_close_white.svg);
    background-size: contain;
}

.dropdown-main .dropdown-menu {
    top: 112%;
    border: none;
    box-shadow: 0px -2px 16px 2px rgba(152, 152, 152, 0.3);
}

.dropdown-main .dropdown-menu:not(.secondary):after {
    content: '';
    top: -0.4rem;
    left: 1.6rem;
    position: absolute;
    border-bottom: 0.4em solid white;
    border-right: 0.4em solid transparent;
    border-top: 0;
    border-left: 0.4em solid transparent;
}

.dropdown-main .dropdown-menu.secondary:after {
    content: '';
    top: 1.3rem;
    left: -0.5rem;
    position: absolute;
    border-bottom: 0.4em solid white;
    border-right: 0.4em solid transparent;
    border-top: 0;
    border-left: 0.4em solid transparent;
    transform: rotate(-90deg);
}

.dropdown-main .dropdown-item {
    position: relative;
}

.dropdown-icon-end {
    position: absolute;
    right: .2rem;
}

.dropdown-menu .secondary {
    top: -0.6rem;
    left: 109%;
}

.dropdown-main .btn {
    border-radius: .5rem;
}

/* For mobile devices */
@media (max-width: 768px) {

    body.menu-active {
        overflow: hidden;
    }

    .header-block {
        width: 100%;
        justify-content: space-between;
    }

    #navbar-container {
        position: absolute;
        background-color: #FFFFFF;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 100;
        transition: transform .5s ease-in, opacity .3s ease-in;
        opacity: .8;
        transform: translateX(1500px);
    }

    #navbar-container li {
        font-weight: 600;
    }

    body.menu-active #navbar-container {
        transform: translateX(0);
        left: 0;
        opacity: 1;
    }

    .container {
        max-width: 98%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .container-fluid {
        padding-left: 2% !important;
        /* padding-right: 2% !important; */
    }

    .btn-burger {
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        padding: 0.5rem;
        background-color: #F2F2F2;
        border-radius: 0.4rem;
        border: none;
        z-index: 200;
    }

    .burger {
        font-size: 0.45rem;
    }

    .slide-main {
        height: 80vh;
        color: white;
    }
    
    .slide-main-wrapper {
        left: 0;
    }

    .slick-slide:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }

    .wrapper-gradient {
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 22.39%, #000000 100%);
    }

    .slider-text {
        color: white;
    }
    
    .category-text {
        font-size: 2rem;
    }

    body:not(.no-navbar) {
        padding-bottom: 32rem;
    }

    .bank-card-block {
        margin-top: 7rem;
        padding: 3.5rem 0 2.5rem 0;
        height: fit-content;
    }
}

@media (min-width: 768px) {
    
    .slider-reviews .slick-dots {
        right: 27%;
    }

    .review-card {
        max-width: 20rem;
    }

}